networks:
  backend:
    driver: bridge

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
    networks:
      - backend
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    networks:
      - backend
    environment:
      MONGO_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_DATABASE: ${MONGO_DATABASE}
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  api:
    build: .
    container_name: todo-api
    networks:
      - backend
    environment:
      MONGO_URI: ${MONGO_URI}
    depends_on:
      mongo:
        condition: service_healthy

volumes:
  mongo-data:
